body {
  background-color: #fff;
  color: #2e2f42;
  width: 1440px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  width: 1440px;
  height: 3300px;
}
ul {
  list-style-type: none;
}
p {
  color: #434455;
}

header {
  width: 1440px;
  height: 72px;
}
.logo {
  font-family: "Raleway";
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  width: 115px;
  height: 24px;
  color: #2e2f42;
}
.logo-sccent {
  color: #4d5ae5;
}
.header-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  width: 261px;
  height: 24px;
}
.header-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}
.header-link:hover,
:focus {
  color: #404bbf;
}
.address-link {
  display: flex;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}

.address-link:hover,
:focus {
  color: #404bbf;
}
.main-section {
  width: 1440px;
  height: 600px;
  background: #2e2f42;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 496px;
  height: 120px;
}

button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
}

button:hover,
:focus {
  background: #404bbf;
  color: #fff;
}

.dignity-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.dignity-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.dignity-title-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  height: 104px;
}

.team-section {
  width: 1440px;
  height: 732px;
  background: #f4f4fd;
}
.title-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 72px;
}
.team-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 120px;
}
.team-item-li {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 8px;
}
.team-component {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 32px;
}

.portfolio-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-context {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-section {
  width: 1440px;
  height: 312px;
  background: #2e2f42;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

footer > .logo {
  color: #f4f4fd;
}
